/* font styles */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: PP Neue Montreal;
    font-weight: 400;
    src: url(../assets/fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: PP Neue Montreal;
    font-weight: 500;
    src: url(../assets/fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: PP Neue Montreal Italic;
    src: url(../assets/fonts/PPNeueMontreal-Italic.otf);
}

.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

:root {
    --font-size: 16px;
    --main-font: PP Neue Montreal;
    --body-font: IBM Plex Mono;
    --italic-font: PP Neue Montreal Italic;

    --blue: #0355ff;
    --black: black;
    --white: white;
    --light-grey: #e0e0e0;

    --outline: var(--blue) 1px solid;
    --hover-effect: ease-in-out 250ms;

    --spacing: 3%;
    --gap: 1rem;
}

body {
    font-size: var(--font-size);

    margin: var(--spacing);

    background-color: var(--white);
    color: var(--blue);

    outline: var(--outline);
}

header {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    padding-top: 10%;
    padding-bottom: var(--spacing);

    display: flex; 
    flex-direction: column;
    row-gap: var(--gap);
}

header > p {
    width: fit-content;
    
    outline: var(--outline);
    border-radius: 1000px;
    background-color: var(--blue);
    color: var(--white);

    padding-left: calc(var(--gap) * 1.25);
    padding-right: calc(var(--gap) * 1.25);
    padding-top: calc(var(--gap) * .25);
    padding-bottom: calc(var(--gap) * .25);
}

h1 {
    font-family: var(--main-font);
    font-size: calc(var(--font-size) * 3);
    font-weight: 500;
}

h2 {
    font-family: var(--main-font);
    font-size: calc(var(--font-size) * 1.5);
}

em {
    font-family: var(--italic-font);
}

strong {
    font-weight: 500;
}

p {
    font-family: var(--main-font);
    font-size: var(--font-size);
}

a {
    color: var(--blue);
    cursor: pointer;
}

nav {
    display: none;
}

main {
    padding: var(--spacing);
}

main > ol {
    display: flex; 
    flex-direction: column;
    row-gap: var(--gap);
}

main > ol > li {
    outline: var(--outline);
    width: 100%;
    height: 100%;
}

footer {
    background-color: var(--blue);
    color: var(--white);
    padding: var(--spacing);

    padding-top: calc(var(--gap) * 3);
    padding-bottom: calc(var(--gap) * 3);

    height: fit-content;

    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
}

/* class styles */
.project_content {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);

    padding: var(--gap);
    height: fit-content;
}

.project_tags {
    display: flex;
    flex-direction: row;
    column-gap: calc(var(--gap) * .5);
}

.project_tags > li {
    font-family: var(--body-font);
    font-size: calc(var(--font-size) * .75);
    font-weight: 500;
    text-transform: uppercase;
    
    background-color: var(--light-grey);
    color: var(--blue);

    padding-top: calc(var(--spacing) * .25);
    padding-bottom: calc(var(--spacing) * .25);
    padding-left: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 1.5);
    
    border-radius: 1000px;
}

.project_image {
    width: 100%;
    height: 20rem;
    object-fit: cover;

    border-bottom: var(--outline);
}

.navbar_links {
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--body-font);

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap);
    grid-template-rows: 1fr 1fr;
    row-gap: var(--gap);
}

.logo {
    width: 2rem;
    height: 2rem;
}

.footer_content {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);

    padding: var(--spacing);
    display: flex; 
    flex-direction: column;
    row-gap: var(--gap);
    align-content: center;
    align-items: center;
    justify-content: center;
}

.footer_content > p:first-child {
    width: fit-content;
    padding-top: calc(var(--spacing) * .25);
    padding-bottom: calc(var(--spacing) * .25);
    padding-left: calc(var(--spacing) * 1.5);
    padding-right: calc(var(--spacing) * 1.5);    

    outline: var(--white) 1px solid;
    border-radius: 1000px;
}

.footer_content > p:nth-child(2) {
    font-size: calc(var(--font-size) * 1.5);
    font-weight: 500;
}

.footer_links {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100%;
}

.footer_links > a {
    color: var(--white);
    outline: var(--white) 1px solid;

    font-family: var(--main-font);
    font-weight: 500;
    text-transform: uppercase;

    padding: var(--gap);
    width: 15rem;
}


/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {
    
}



/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1280px) {
    :root {
        --spacing: 2%;
    }
    
    h1 {
        font-size: calc(var(--font-size) * 4);
    }
    
    nav {
        width: 75vw;
        height: 4rem;

        padding: calc(var(--spacing) * .5);
        background-color: var(--white);
        margin: auto;
        
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        position: fixed;
        bottom: 5%;
        right: 0;
        left: 0;
        z-index: 1000;
        
        outline: var(--outline);
    }
    
    main > ol {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        column-gap: calc(var(--gap) * 2);
        grid-template-rows: 1fr 1fr;
        row-gap: calc(var(--gap) * 2);
    }

    footer {
        height: 20rem;

        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start
    }
    
    a:hover {
        color: var(--black);
        transition: var(--hover-effect);
    }

    .logo:hover {
        rotate: 90deg;
        transition: var(--hover-effect);
        cursor: pointer;
    }

    .navbar_links {
        display: flex;
        flex-direction: row;
        column-gap: calc(var(--gap) * 2);
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .footer_content > p:first-child {
        font-size: calc(var(--font-size) * 1.5);
    }

    .footer_content > p:nth-child(2) {
        font-size: calc(var(--font-size) * 3);
    }

    .footer_links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--gap);
        grid-template-rows: 1fr 1fr;
        row-gap: var(--gap);

        width: auto;
    }

    .footer_links > a:hover {
        background-color: var(--white);
        color: var(--blue);
        transition: var(--hover-effect);
    }
}

