/* font styles */
@font-face {
    font-family: PP Neue Montreal;
    font-weight: 400;
    src: url(../assets/fonts/PPNeueMontreal-Book.otf);
}

@font-face {
    font-family: PP Neue Montreal;
    font-weight: 500;
    src: url(../assets/fonts/PPNeueMontreal-Medium.otf);
}

@font-face {
    font-family: PP Neue Montreal Italic;
    src: url(../assets/fonts/PPNeueMontreal-Italic.otf);
}

:root {
    --font-size: 16px;
    --main-font: PP Neue Montreal;
    --italic-font: PP Neue Montreal Italic;

    --blue: #0355ff;
    --black: black;
    --white: white;

    --outline: var(--blue) 1px solid;
    
    --spacing: 2%;
}

body {
    font-family: var(--text-font);
    font-size: var(--font-size);

    background-color: var(--white);
    color: var(--blue);

    outline: var(--outline);
}

h1 {
    font-family: var(--main-font);
    font-size: calc(var(--font-size) * 3);
}

h2 {
    font-family: var(--main-font);
    font-weight: 500;
}

em {
    font-family: var(--italic-font);
}

strong {
    font-weight: 500;
}

p {
    font-family: var(--main-font);
    font-size: var(--font-size);
}

a {
    font-family: var(--main-font);
    color: var(--blue);
}

nav {
    width: 75vw;
    height: 3rem;

    padding: var(--spacing);
    margin: auto;
    
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    position: fixed;
    bottom: 10%;
    right: 0;
    left: 0;
    
    outline: var(--outline);
    text-transform: uppercase;
    font-weight: 500;
}

main {
    padding: var(--spacing);
}

main > ol {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing);
    /* figure out why the rows are not working */
    grid-template-rows: 1fr 1fr;
    row-gap: var(--spacing);

    outline: var(--outline);
    padding: var(--spacing);
}

main > ol > li {
    outline: var(--outline);
    width: 100%;
    height: 100%;
}

footer {
    background-color: var(--blue);
    color: var(--white);
    padding: 0;
}

/* class styles */



/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {
    
}



/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1080px) {
    a:hover {
        color: var(--black);
    }
}

